 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

 /* div.Auth-form-container */body {
    font-family: "Open Sans";
    background: url(https://assets.dicebreaker.com/pokemon-go-header-art.png/BROK/resize/1920x1920%3E/format/jpg/quality/80/pokemon-go-header-art.png) center center no-repeat fixed;
  /*   background: url(https://th.bing.com/th/id/R.4e84ee40f5c13e86eb41654fc6791c52?rik=pfbJ12gvePTRjw&riu=http%3a%2f%2fi.milliyet.com.tr%2fOnedioGallery%2fDetail%2f2016%2f08%2f05%2f1441_pt1_0.jpg&ehk=OfOA1Snf4ZfZ%2f%2fBW46%2f1Q3ADgvLdwvT5GD8mHmrIOlE%3d&risl=&pid=ImgRaw&r=0) center center no-repeat fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
 }

 form {
    background-color: aliceblue;
    padding: 20px;
 }